
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid tomato;
    background-color: rgb(201, 211, 156);
    position: sticky;
}
.nav-list{
    border: none;
    display: flex;
    justify-content: space-between;
}
.ankor{
    margin-right:60px;
    text-decoration: none;
    font-size: 2rem;
}
li{
    list-style: none;
}
.aljazeera{
    margin-left: 40px;
}
.royel{
    display: flex;
    gap: 50px;
    padding-left: 30px;
}
.para{
    font-size: 2rem;
    text-align: justify;
}
.itsme,
.img-saif,
.hsc-02{
    margin-top: 110px;
    
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
.img{
    width: 800px;
    height: 700px;
}
.saif
{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 30px;
}
.hsc-2023{
    display: flex;
    gap: 50px;
    padding: 30px;
}